<!-- Moxtra SDK -->
		<script type="text/javascript" src="https://www.moxtra.com/api/js/moxtra-latest.js" id="moxtrajs" data-client-id="ja-9IbGsRNk"></script>

        <!-- Include External JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha256.js"></script>
        <script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>
         <!-- Create Signature -->
        <script type="text/javascript">// <![CDATA[
            var client_id = "ja-9IbGsRNk";
            var client_secret = "pOuhjYHZJIQ";
            var timestamp = new Date().getTime();
            var unique_id = "unique_user_id"; //Unique ID of how user is identified in your system
            
            var hash = CryptoJS.HmacSHA256(client_id + unique_id + timestamp, client_secret);
            var hashInBase64 = CryptoJS.enc.Base64.stringify(hash);
            var signature = hashInBase64.replace(/\+/g, '-').replace(/\//g, '_').replace(/\=+$/, '');
            // ]]>
        </script>
        
        <!-- Initialize user and get access token -->
        <script type="text/javascript">
            function get_token() {
                var init_options = {
                    uniqueid: unique_id,
                    firstname: "John",
                    lastname: "Doe",
                    timestamp: timestamp,
                    signature: signature,
                    get_accesstoken: function(result) {
                        console.log("access_token: " + result.access_token + " expires in: " + result.expires_in);
                        start_chat(result.access_token);
                    },
                    error: function(result) {
                        console.log("error code: " + result.error_code + " message: " + result.error_message);
                    }
                };
                Moxtra.setup(init_options);
            }
        </script>

        <!-- Start Chat Function -->
        <script type="text/javascript">
        function start_chat (access_token) {            
            var chat_options = {
                //unique id of the users who will be part of the chat. These users should already exist in Moxtra.
                unique_id: "unique_user_id_2,unique_user_id_3",  
                iframe: true,
                //ID of the HTML tag within which the chat window will show up. Refer https://developer.grouphour.com/moxo/docs-js-sdk/#conversation
                tagid4iframe: "container",
                iframewidth: "1000px",
                iframeheight: "750px",                
                access_token: access_token,
                autostart_meet: true,
                autostart_note: true,
                extension: { "show_dialogs": { "member_invite": true } },
                start_chat: function(event) {
                    console.log("Chat started binder ID: " + event.binder_id);
                    //Your application server can upload files to draw using the binder_id and access_token
                },
                start_meet: function(event) {
                    console.log("Meet started session key: " + event.session_key + " session id: " + event.session_id);
                },
                end_meet: function(event) {
                    console.log("Meet end event");
                },
                invite_member: function(event) {
                    console.log("Invite member into binder Id: " + event.binder_id);
                },
                request_note: function(event) {
                    console.log("Note start request");
                },
                error: function(event) {
                    console.log("Chat error code: " + event.error_code + " error message: " + event.error_message);
                }
            };            
            Moxtra.chat(chat_options);
        }
        </script>
<!-- -->
<div class="jumbotron">
	<div class="container dashboardContainer">
		<div class="row title">
			<h1>Your cloned repositories</h1>
			<span data-toggle="tooltip" data-placement="top" title="Create a new repository">
				<a href="#" data-toggle="modal" data-target="#createRepository">
					<span class="fa fa-file fa-2x"></span>
				</a>
			</span>
			<span data-toggle="tooltip" data-placement="top" title="Add a new repository (Clone)">
				<a href="#" data-toggle="modal" data-target="#addRepository">
					<span class="fa fa-plus fa-2x"></span>
				</a>
			</span>
		</div>
		<div class="table-responsive well">
			<table class="table table-striped table-hover repoTable">
				<thead>
					<tr>
						<th><h3><B>Repository Name</B></h3></th>
						<th><h4>Time of Last Commit</h4></th>
						<th>Functions</th>
					</tr>
				</thead>
				<tbody>
					<% for (index in repos){ %>
					<tr>
						<td><a href="/project/<%= repos[index]._id %>"><%= repos[index].name %></a></td>
						<td><%= repos[index].updatedAtt %></td>
						<td>
							<a href="#" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Download"><span class="fa fa-download fa-lg"></span></a>
							<a href="#" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Upload"><span class="fa fa-upload fa-lg"></span></a>
							<a href="#" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Sync"><span class="fa fa-refresh fa-lg"></span></a>
							<a href="/repoDel/<%= repos[index]._id %>" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete"><span class="fa fa-trash-o fa-lg"></span></a>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal fade" id="addRepository" tabindex="-1" role="dialog">
	<div class="modal-dialog modalBodySized">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 class="modal-title">Add a repository with its URL</h3>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<form method="post" role="form" id="addRepositoryForm" enctype="application/x-www-form-urlencoded" autocomplete="off">
						<fieldset>
							<div class="form-group">
                                <label for="url">Repository URL:</label><br>
                                <input type="text" class="form-control" id="url" name="url" maxlength=100 required>
                                
								<!-- <div class="row">
									<div class="col-md-2">
										<h4>
	                                		Repository URL:
	                                	</h4>
	                                </div>
	                                <div class="col-md-8">
	                                	<input type="text" class="form-control" form="addRepositoryForm" name="url" placeholder="URL" maxlength=100 required></textarea>
	                                </div>
	                                <div class="col-md-2">
	                                	<input id="upload-submit" class="btn btn-success" type="submit" value="Submit">
	                                </div>
                                </div> -->
                            </div>
						</fieldset>
				</div>
			</div>
			<div class="modal-footer">
				<input id="upload-submit" class="btn btn-default" type="button" value="Submit">
				</form>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal fade -->

<div class="modal fade" id="createRepository" tabindex="-1" role="dialog">
	<div class="modal-dialog modalBodySized">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 class="modal-title">Create (and initialize) a new repository</h3>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<form method="post" role="form" id="createRepositoryForm" enctype="application/x-www-form-urlencoded" action="/createrepo" autocomplete="off">
						<fieldset>
							<div class="form-group">
								<label for="repoName">Repository Name:</label><br>
								<input type="text" class="form-control" name="repoName" id="repoName" placeholder="Repo Name" maxlenth=100 required></input>
                                <label for="url">Repository Remote URL:</label><br>
                                <input type="text" class="form-control" name="url" id="url" placeholder="URL" maxlength=100 required></textarea>
                                <input id="upload-submit" class="btn btn-default" type="submit" value="Submit">
                            </div>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal fade -->

<h3><a id="getToken" href="javascript:get_token();">Moxtra Chat</a></h3>