<div class="container-fluid">
	<div class="row">
		<div class="col-md-10">
			<h1>Your cloned repositories</h1>
		</div>
		<div class="col-md-2">
			<a href="/cloneRepo" class="btn btn-sm btn-success">
                Add a New repository
			</a>
		</div>
	</div>
	<div class="row well">//sample repo
		<div class="col-md-4">
			Repository Name
		</div>
		<div class="col-md-4">
			Repository Owner
		</div>
		<div class="col-md-4">
			Timestamp of clone
		</div>
	</div>
</div>