<div class="container-fluid">
	<div class="row title">
		<div class="col-md-10">
			<h1>Your cloned repositories</h1>
		</div>
		<div class="col-md-2">
			<a href="/cloneRepo" class="btn btn-sm btn-success addButton">
                Add a New repository
			</a>
		</div>
	</div>
	<div class="row well"> <!-- one repo -->
		<div class="col-md-6 repoDescriptor">
			Repository Name asdfasdf asdfasd fasdf asdf asdfasdfasdf
		</div>
		<div class="col-md-3 repoDescriptor">
			Repository Owner
		</div>
		<div class="col-md-3 repoDescriptor">
			Date of last commit
		</div>
	</div>
	<div class="row well"> <!-- one repo -->
		<div class="col-md-6 repoDescriptor">
			Repository Name asdfasdf asdfasd fasdf asdf asdfasdfasdf
		</div>
		<div class="col-md-3 repoDescriptor">
			Repository Owner
		</div>
		<div class="col-md-3 repoDescriptor">
			Date of last commit
		</div>
	</div>
</div>