<div class="jumbotron">
	<div class="container dashboardContainer">
		<div class="row title">
			<h1>Your cloned repositories</h1>
			<span data-toggle="tooltip" data-placement="top" title="Create a new repository">
				<a href="#" data-toggle="modal" data-target="#createRepository">
					<span class="fa fa-file fa-2x"></span>
				</a>
			</span>
			<span data-toggle="tooltip" data-placement="top" title="Add a new repository (Clone)">
				<a href="#" data-toggle="modal" data-target="#addRepository">
					<span class="fa fa-plus fa-2x"></span>
				</a>
			</span>
		</div>
		<div class="table-responsive well">
			<table class="table table-striped table-hover repoTable">
				<thead>
					<tr>
						<th><h3><B>Repository Name</B></h3></th>
						<th><h4>Time of Last Commit</h4></th>
						<th>Functions</th>
					</tr>
				</thead>
				<tbody>
					<% for (index in repos){ %>
					<tr>
						<td><a href="/project/<%= repos[index]._id %>"><%= repos[index].name %></a></td>
						<td><%= repos[index].updatedAtt %></td>
						<td>
							<a href="#" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Download"><span class="fa fa-download fa-lg"></span></a>
							<a href="#" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Upload"><span class="fa fa-upload fa-lg"></span></a>
							<a href="#" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Sync"><span class="fa fa-refresh fa-lg"></span></a>
							<a href="/repoDel/<%= repos[index]._id %>" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete"><span class="fa fa-trash-o fa-lg"></span></a>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal fade" id="addRepository" tabindex="-1" role="dialog">
	<div class="modal-dialog modalBodySized">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 class="modal-title">Add a repository with its URL</h3>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<form method="post" role="form" id="addRepositoryForm" enctype="application/x-www-form-urlencoded" autocomplete="off">
						<fieldset>
							<div class="form-group">
                                <label for="url">Repository URL:</label><br>
                                <input type="text" class="form-control" id="url" placeholder="URL" maxlength=100 required>
                                <input id="upload-submit" class="btn btn-default" type="button" value="Submit">
								<!-- <div class="row">
									<div class="col-md-2">
										<h4>
	                                		Repository URL:
	                                	</h4>
	                                </div>
	                                <div class="col-md-8">
	                                	<input type="text" class="form-control" form="addRepositoryForm" name="url" placeholder="URL" maxlength=100 required></textarea>
	                                </div>
	                                <div class="col-md-2">
	                                	<input id="upload-submit" class="btn btn-success" type="submit" value="Submit">
	                                </div>
                                </div> -->
                            </div>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal fade -->

<div class="modal fade" id="createRepository" tabindex="-1" role="dialog">
	<div class="modal-dialog modalBodySized">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 class="modal-title">Create (and initialize) a new repository</h3>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<form method="post" role="form" id="createRepositoryForm" enctype="application/x-www-form-urlencoded" action="/createrepo" autocomplete="off">
						<fieldset>
							<div class="form-group">
								<label for="repoName">Repository Name:</label><br>
								<input type="text" class="form-control" name="repoName" id="repoName" placeholder="Repo Name" maxlenth=100 required></input>
                                <label for="url">Repository Remote URL:</label><br>
                                <input type="text" class="form-control" name="url" id="url" placeholder="URL" maxlength=100 required></textarea>
                                <input id="upload-submit" class="btn btn-default" type="submit" value="Submit">
                            </div>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal fade -->
