<%
  var folders = currentPath.split('/');
  var fileName = folders[folders.length - 1];
  folders.splice(0, 2);
  folders.splice(-1, 1);

  for(var i=0; i<folders.length; i++) {
    folders[i] = '<a href="/project/' + project._id + '/' + folders[i] + '/">' + folders[i] + '</a>';
  }
  folders[0] = '<a href="/project/' + project._id + '">/</a>';
  folders[folders.length] = fileName;
%>
<div class="jumbotron breadcrumbs">
  <%- folders.join(' > '); %>
</div>

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">

  <span class="fa fa-pencil-square-o fa-lg btn-edit"></span>

  <div id="editor"><%= data %></div>

</div>