<div class="jumbotron breadcrumbs">
  <a href="#">first</a> > <a href="#">second</a> > <a href="#">current_folder</a> > current_file.js
</div>

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">

  <span class="fa fa-pencil-square-o fa-lg btn-edit"></span>

  <div id="editor">
  function test(one, two) {
    console.log("hi");
    lao aohunh asoeu
  }
  </div>

</div>