<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="../../favicon.ico" rel="icon">

    <title>LetsGit</title><!-- Bootstrap core CSS -->
    <link href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="stylesheets/landing.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- <%- body %> -->

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">LetsGit</h3>

                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active">
                                    <a href="/">Home</a>
                                </li>

                                <li>
                                    <a href="/login">Login</a>
                                </li>

                                <li>
                                    <a href="/register">Register</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">Online Git GUI.</h1>

                    <p class="lead">LetsGit is an online Git GUI where you can
                    easily code and run git commands from anywhere.</p>

                    <p class="lead">
                    <!-- <a href="#" class="btn btn-lg btn-default">Learn more</a> --></p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Built at HackGenY by <a href=
                        "https://github.com/Vadman97">@vadman97</a>, <a href=
                        "https://github.com/Bogidon">@Bogidon</a>, <a href=
                        "https://github.com/gregthegeek">@gregthegeek</a>,
                        <a href=
                        "https://github.com/jamesaanderson">@jamesaanderson</a>,
                        <a href="https://github.com/xasos">@xasos</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div><script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>