<div class="inner cover">
    <h1 class="cover-heading">Online Git GUI.</h1>

    <p class="lead">LetsGit is an online Git GUI where you can
    easily code and run git commands from anywhere.</p>

    <p class="lead">
    <!-- <a href="#" class="btn btn-lg btn-default">Learn more</a> --></p>
</div>

<div class="mastfoot">
    <div class="inner">
        <p>Built at HackGenY by <a href=
        "https://github.com/Vadman97">@vadman97</a>, <a href=
        "https://github.com/Bogidon">@Bogidon</a>, <a href=
        "https://github.com/gregthegeek">@gregthegeek</a>,
        <a href=
        "https://github.com/jamesaanderson">@jamesaanderson</a>,
        <a href="https://github.com/xasos">@xasos</a></p>
    </div>
</div>