<div class="inner cover">
    <h1 class="cover-heading">Easily Git from the Cloud.</h1>

    <p class="lead">LetsGit is an accessible, cloud-based git client with a GUI where you can easily code and collaborate from anywhere.</p>
</div>

<div class="mastfoot">
    <div class="inner">
        <p>Built at HackGenY by <a href=
        "https://github.com/Vadman97">@vadman97</a>, <a href=
        "https://github.com/Bogidon">@Bogidon</a>, <a href=
        "https://github.com/gregthegeek">@gregthegeek</a>,
        <a href=
        "https://github.com/jamesaanderson">@jamesaanderson</a>,
        <a href="https://github.com/xasos">@xasos</a></p>
    </div>
</div>