<form class="form-signin" action="/signup" method="post">
    <h1 class="form-signin-heading text-muted">Register</h1>
    <input autofocus="" class="form-control" placeholder="Username" required="" type="text" name="username">
    <input class="form-control" placeholder="Email address" required="" type="text" name="email">
    <input class="form-control" placeholder="Password" required="" type="password" name="password">
    <input class="form-control" placeholder="Confirm Password" required="" type="password" name="password_confirm">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>