.addButton{
  margin-top:1.5em;
  margin-bottom:0.5em;
}
.title{
	margin-bottom:1em;
}
.repoTable{
	margin-bottom:0;
}
.dashboardContainer{
	padding:2em 2em 2em 2em;
}
.modalBodySized{
	min-width: 90%;
}
#upload-submit {
  float: left;
}
.row {
  margin-left: 15px;
  margin-right: 15px;
}
.row.title span[data-toggle="tooltip"] {
  height: 34px;
  display: inline-block;
  float: right;
  margin-top: 45px;
  margin-left: 10px;
}
.row .fa {
  color: #777;
}
.row .fa:hover {
  color: #333;
  cursor: pointer;
}
.row.title h1 {
  display: inline-block;
}
.addButton2 {
  margin-left: 30px;
  position: relative;
  top: 25px;
}
.addButton2 span {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.addButton3 {
  margin-left: 30px;
}
.addButton3 span {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}